<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no">
		<meta charset="utf-8">
		<title>首页</title>
		<link rel="stylesheet" type="text/css" href="//testvue.com/static/index.css">
	</head>
	<body>
		<div id="app">
			<ul v-bind:title="title">
			    <li v-for="todo in todos">
			      {{ todo.text }}
			    </li>
		  	</ul>
			<h1 v-if="ok">Yes</h1>
			<h1 v-else>No</h1>
			<h1>{{title}}</h1>
			<template v-if="ok">
			  <h1>Title</h1>
			  <p>Paragraph 1</p>
			  <p>Paragraph 2</p>
			</template>

			<h1><template v-if="ok">Yes</template><template v-else>No</template></h1>
			<h1 v-show="ok">Hello!</h1>
			<template v-if="ok">
			  <label>Username</label>
			  <input placeholder="Enter your username" id="username-input">
			</template>
			<template v-else>
			  <label>Email</label>
			  <input placeholder="Enter your email address" id="email-input">
			</template>

  			<button v-on:click="reverseType">reverseType</button>
  			<my-component></my-component>
		</div>
	</body>
	<script type="text/javascript" src="//testvue.com/static/index.js"></script>
</html>